<div class="reply_box">
<div class="close_button_frame" style="float:right"></div>
<%= form_for(@reply, :url=>replies_path, :html=>{:class=>"nice"}) do |f| %>
  <%= render(:partial=>"shared/form_errors", :object=>@reply) %>
  your reply:
  <br />
  <%= f.text_area(:content,:rows=>5,:style=>"width:80%",:class=>"input-text") %>
  <br />
  <%= fields_for(@comment, :index=>nil) do |comment| %>
    <%= comment.hidden_field(:id, :name=>"comment[id]") %>
    <%= comment.hidden_field(:user_id, :name=>"comment[user_id]") %>
  <% end %>
  <%= hidden_field_tag(:target_type, @target_type) %>
  <br />
  <%= f.submit("reply", :class=>"nice black button radius") %>
<% end %>
</div>
