<%= page_title("#{@user.name}'s profile") %>
<ul>
	<li>name: <%= @user.name %></li>
	<li>email: <%= @user.email %></li>
</ul>
<% if @current_user == @user %>
  <%= link_to 'Edit', edit_individual_path(@user), 
    :class=>"nice black button" %>
<% end %>
<hr />

<h5>your friends:</h5>
(<%= link_to("find more friends", friendships_path) %>)<br/>
-------------------------------
<% for friendship in @friendships do %>
  <ul>
    <li>
    <%= link_to("#{friendship.friend.name}", 
                individual_path(friendship.friend), :method=>:get) %>
      (<%= link_to("delete", friendship_path(friendship), :method => :delete,
                   :confirm => "are you sure to destroy this relationship?") %>)
    </li>
  </ul>
<% end %>
