<h3>User info</h3>
<hr />
<p id="notice"><%= notice %></p>

<b>Name: </b><%= @user.name %><br />
<b>e-mail: </b><%= @user.email %><br />
<b>admin: </b><%= @user.is_admin? %><br />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
