<%= page_title("Search Friends") %>

<div id="search">
  <%= form_tag(search_friendships_path, :method => :get) do %>
    Search: <%=text_field_tag("user_name", "user name")  %>
    <%= submit_tag("search", :name => nil) %>
  <% end %>
</div>
<% if @users.blank? %>
  <h4>Sorry, no record has been found</h4>
<% else %>
  <%= render("user_list") %>
<% end %>

<% if @is_search_result %>
  <%= link_to("Go back to all users", friendships_path) %>
<% end %>

<br />

