<%= page_title("Search Friends") %>

<div id="search">
  <%= form_tag(search_friendships_path, :method => :get,
               :class=>"nice") do %>
    <div class="search_title">Search</div>
    <div class="search_field">
        <%=text_field_tag("user_name", "", :placeholder=>"user name", 
                                  :class=>"input-text") %>
    </div>
    <div class="search_button">
      <%= image_submit_tag("search_button.png", :name => nil)%>
    </div>
  <% end %>
</div>
<% if @users.blank? %>
  <h4>Sorry, no record has been found</h4>
<% else %>
  <%= render("user_list") %>
<% end %>

<% if @is_search_result %>
  <%= link_to("Go back to all users", friendships_path) %>
<% end %>

<br />

