<div class="share">
  <div class="row">
    <div class="two columns">
      <%= link_to(individual_path(share.from_user), :method=>:get) do%>
        <%= image_tag(share.from_user.avatar_url, :size=>"110x110") %>
      <% end %>
    </div>
    <div class="ten columns" id="share_<%=share.id%>">
      <div class="share_author">
        <% if share.from_user == @current_user %>
          <strong>
            <%= link_to("you",
                        individual_path(share.from_user), :method=>:get) %>
          </strong> shared
        <% else %>
          <strong>
            <%= link_to(share.from_user.name,
                        individual_path(share.from_user), :method=>:get) %>
          </strong> shared
        <% end %>
      </div>

      <% case share.share_type %>
      <% when "text": %>
        <%=render("shared/share_text_content", 
                  {:share=>share})%>
      <% when "image": %>
        <%=render("shared/share_image_content",{:share=>share}) %>
      <% when "video": %>
        <%= render("shared/share_video_content",{:share=>share}) %>
      <% when "link": %>
        <%= render("shared/share_link_content",{:share=>share}) %>
      <% else %>
        <%= "error, no such share type"  %>
      <% end %>
      <div id="comment_box_<%=share.id%>">
      </div>

      <%=render(:partial=>"shared/comment",
                :collection=>share.comments) %>
      <% if @current_user == share.from_user %>
        <p>
        share to:
        <%for user in share.to_users do %>
          <%= "#{user.name} " %>
        <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
