<h3>Text Share</h3>
<%= form_for(@share_info, :url => share_infos_path) do |f|%>
  <%= render(:partial=>"shared/form_errors", :object=>@share_info) %>
  Content:<br />
  <%= f.text_area(:content) %><br />
  URL:<%= f.text_field(:url) %><br />

  <p> <b>choose friends you want to share with:</b> </p>
  -----------------------------------------<br />
  <% for friend in @current_user.friends %>
    <%= friend.name %><%= check_box_tag("friend_ids[]",friend.id) %>
  <% end %>
  <%= f.hidden_field(:share_type, :value=>"text") %>
  <br />
  <%= f.submit("share") %>
<% end %>

