<!DOCTYPE html>
<html>
<head>
  <title>ImmediateShare</title>
  <%= stylesheet_link_tag "foundation", "ie", "app", :media => "all" %>
  <%= javascript_include_tag "jquery.min", "jquery.animate-colors-min", "foundation", "modernizr.foundation", "rails.js", "app", "application" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<div class="row">
      <div class="one columns"></div>
      <div class="eight columns">
        <ul class="breadcrumbs">
          <%= menu_item_available_if(@current_user,"HOME",
                                     share_infos_path)%>
          <%= menu_item_available_if(@current_user,"PROFILE",
                                 individual_path(@current_user||1)) %>
          <% text = "MESSAGE" %>
          <% if @current_user %>
            <% text << "(#{@unread_system_messages.length})" %>
          <% end %>
          <%= menu_item_available_if(@current_user, text,
                                     system_messages_path) %>
          <%= menu_item_available_if(@current_user,"FRIENDS",
                                     friendships_path) %>
        </ul>
      </div>
      <div class="three columns">
        <% if @current_user %>
          <%= @current_user.name %>
          |<%= link_to("logout",logout_path,:method => :post) %>
          |<%=link_to("view profile",individual_path(@current_user)) %>
        <% else %>
          You haven't login yet |<%= link_to("login", gate_path) %>
        <% end %>
      </div>
  	</div>
  </div>

  <div class="container">
  	<div class="row">
  		<div class="ten columns centered"><%= yield %></div>
  	</div>
  </div>

</body>
</html>
